<!-- Public Collections card -->
<div class="card" id="awaiting-approval">
  <div class="card-header green-background btn btn-link collapsed text-left"
    role="dialog" id="headingPublicCollection" data-toggle="collapse"
    data-target="#collapsePublicCollection" aria-expanded="false"
    aria-controls="collapsePublicCollection">
    <h5><i class="fas fa-building"></i> <strong>Public
        Collections{% if page_id == "profile" %} added by
        you{% endif %}</strong></h5>
    {% if page_id == "management" %}<h6>{{unapproved_collections|length}}
      current submission(s)</h6>{% endif %}
  </div>
  <div id="collapsePublicCollection" class="collapse"
    aria-labelledby="headingPublicCollection" data-parent="#accordion">
    <div class="card-body">
      {% if unapproved_collections %}
      {% if page_id != "management" %}
      <h4>Unapproved Submissions</h4>
      {% endif %}
      {% for collection in unapproved_collections %}
      <hr class="green-line">
      {% include "components/details/public-collection.html" %}

      <!-- Approve/deny collection -->
      <div class="container-fluid">
        <div class="row">
          {% if page_id != "management" %}
          <div class="btn col-2 col-md-1 offset-10 offset-md-11 text-right"
            data-toggle="modal"
            data-target="#modal-delete-public-collection-request-{{ collection._id }}">
            <i class="fas fa-times-circle btn-delete" data-toggle="tooltip"
              data-placement="top" data-type="info"
              title="Delete collection"></i>
          </div>
          {% endif %}
          {% if page_id == "management" %}
          <div id="deny-collection"
            class="btn col-2 col-md-1 offset-8 offset-md-10 text-right"
            data-toggle="modal"
            data-target="#modal-delete-public-collection-request-{{ collection._id }}">
            <i class="fas fa-times-circle btn-delete" data-toggle="tooltip"
              data-placement="top" data-type="info"
              title="Delete collection"></i>
          </div>
          <div id="approve-collection" class="btn col-2 col-md-1 text-right"
            data-toggle="modal"
            data-target="#modal-approve-public-collection-request-{{ collection._id }}">
            <i class="fas fa-check-circle btn-edit" data-toggle="tooltip"
              data-placement="top" data-type="info"
              title="Approve collection"></i>
          </div>
          {% endif %}
        </div>
      </div>
      {% endfor %}
      {% else %}
      {% if page_id != "management" %}
      <p><strong>You do not currently have any unapproved public collections!
          You
          can <a href="{{ url_for('add_new_collection') }}"
            class="internal-link">Add Collection</a> here.</strong></p>
      {% else %}
      <p><strong>There are no public collections awaiting approval.</strong></p>
      {% endif %}
      {% endif %}
      {% if collections_dict_public %}
      <h4>Approved Submissions</h4>
      {% for collection in collections_dict_public %}
      <hr class="green-line">
      {% include "components/details/public-collection.html" %}
      {% endfor %}
      {% endif %}
    </div>
  </div>

</div>