<!-- Collections card -->
          <div class="card">
            <div class="card-header green-background" id="headingFive">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse"
                  data-target="#collapseFive" aria-expanded="false"
                  aria-controls="collapseFive">
                  <i class="fas fa-building"></i> <strong>Public Collections for Approval</strong>
                </button>
              </h5>
            </div>
            <div id="collapseFive" class="collapse"
              aria-labelledby="headingFive" data-parent="#accordion">
              <div class="card-body">
                <!-- Add collection -->
                {% if page_id != "management" %}
                <div class="container-fluid">
                  <div class="row">
                  <a href="{{ url_for('add_new_collection') }}" class="btn btn-outline-primary col-5 offset-7 col-md-3 offset-md-9 btn-add"
              ><i class="fas fa-plus"></i> <strong>Add New Public
                      Collection</strong></a>
                  </div>
                </div>
                {% endif %}
                {% if unapproved_collections %}
                {% for collection in unapproved_collections %}
                <hr class="green-line">
                {% include "components/details/public-collection.html" %}
                {% endfor %}
                {% else %}
                    {% if page_id != "management" %}
                <p><strong>You do not currently have any unapproved public collections! Want
                    to add one?</strong></p>
                    {% else %}
                    <p><strong>There are no public collections awaiting approval.</strong></p>
                    {% endif %}
                {% endif %}
              </div>
            </div>
          </div>