<!-- Locations card -->
<div id="locations-card" class="card">
  <div class="card-header green-background btn btn-link collapsed text-left"
    id="headingLocations" data-toggle="collapse"
    data-target="#collapseLocations" aria-expanded="false"
    aria-controls="collapseLocations">
    <h5 class="mb-0">
      <i class="fas fa-home"></i> <strong>Your Locations</strong>
    </h5>
  </div>
  <div id="collapseLocations" class="collapse"
    aria-labelledby="headingLocations" data-parent="#accordion">
    <div class="card-body">
      <!-- Add location -->
      <div class="container-fluid">
        <div class="row">
          <button type="button"
            class="btn btn-outline-primary col-7 offset-5 col-md-3 offset-md-9 btn-add space-below"
            data-toggle="modal" data-target="#modal-add-location"><i
              class="fas fa-plus"></i> Add New
            Location</button>
        </div>
      </div>
      {% if locations %}
      {% for location in locations %}
      <hr class="green-line">
      {% include "components/details/location.html" %}
      <!-- Amend location -->
      <div class="container-fluid">
        <div class="row">
          <div id="delete-location"
            class="btn col-2 col-md-1 offset-8 offset-md-10 text-right"
            data-toggle="modal"
            data-target="#modal-delete-location-{{ location._id }}"><i
              class="fas fa-trash-alt btn-delete" data-toggle="tooltip"
              data-placement="top" data-type="info" title="Delete"></i></div>
          <div id="amend-location" class="btn col-2 col-md-1 text-right"
            data-toggle="modal"
            data-target="#modal-edit-location-{{ location._id }}">
            <i class="fas fa-edit btn-edit" data-toggle="tooltip"
              data-placement="top" data-type="info" title="Edit"></i>
          </div>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <p><strong>You do not currently have any locations saved! Want
          to add one?</strong></p>
      {% endif %}
    </div>
  </div>
</div>