<!-- Collection details -->
<div class="card" id="collection-details">
  <div class="card-header green-background btn btn-link collapsed text-left"
    role="dialog" id="headingCollections" data-toggle="collapse"
    data-target="#collapseCollections" aria-expanded="false"
    aria-controls="collapseCollections">
    <h5 class="mb-0">
      <i class="fas fa-recycle"></i> <strong>Collection Details</strong>
    </h5>
  </div>
  <div id="collapseCollections" class="collapse"
    aria-labelledby="headingCollections" data-parent="#accordion">
    <div class="card-body">
      {% if collections_dict %}
      {% for member in worker_bees %}
      {% if member._id in members_collection_values %}
      <div class="card-header green-background">
        <h6><strong>{{ member.username }}'s Collections</strong></h6>
      </div>
      <hr>
      {% for collection in collections_dict if collection.hiveMembersID == member._id %}
      {% include "components/details/collection.html" %}
      <!-- Amend collection -->
      <div class="container-fluid">
        <div class="row">
          <div class="btn col-2 col-md-1 offset-8 offset-md-10 text-right"
            data-toggle="modal"
            data-target="#modal-delete-collection-{{ collection._id }}"><i
              class="fas fa-trash-alt btn-delete" data-toggle="tooltip"
              data-placement="top" data-type="info" title="Delete"></i></div>
          <div class="btn col-2 col-md-1 text-right"
            data-toggle="modal"
            data-target="#modal-edit-collection-{{ collection._id }}">
            <i class="fas fa-edit btn-edit" data-toggle="tooltip"
              data-placement="top" data-type="info" title="Edit"></i>
          </div>
        </div>
      </div>
      <hr class="green-line">
      {% endfor %}
      {% endif %}
      {% endfor %}
      {% else %}
      <p><strong>There are no collections in your Hive</strong></p>
      {% endif %}
    </div>
  </div>
</div>