<div id="form-condition-notes" class="form-group">
	<label class="sr-only" for="conditionNotes">E.g. the condition you expect this item to be in: Washed/as it is...</label>
	<div class="input-group mb-2">
		{% include "components/tooltips/tooltip-notes.html" %}
		<textarea class="form-control" id="conditionNotes"
                            name="conditionNotes"
                            placeholder="E.g. the condition you expect this item to be in: Washed/as it is..."
                            minlength="4" required></textarea>
	</div>
</div>