<div id="council-other">
	<div class="row">
		<div class="col">
			<h5><i class="fas fa-truck"></i> Is this a council collection or 'other'?</h5>
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-md-6">
			<div class="custom-control custom-radio custom-control-inline">
				<input type="radio" id="council" name="councilOther" class="custom-control-input" value="council">
				<label class="custom-control-label" for="council">Council collection (<em>Kerbside or Household Recycling Centre</em>)</label>
			</div>
		</div>
		<div class="form-group col-md-6">
			<div class="custom-control custom-radio custom-control-inline">
				<input type="radio" id="other" name="councilOther" class="custom-control-input" value="other">
				<label class="custom-control-label" for="other">Other collection (<em>Another business/organisation</em>)</label>
			</div>
		</div>
	</div>
</div>