<div id="local-national" class="public-collection">
	<div class="row">
		<div class="col">
			<h5><i class="fas fa-globe-europe"></i> Is this collection local or national?</h5>
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-md-6">
			<div class="custom-control custom-radio custom-control-inline">
				<input type="radio" id="local" name="localNational" class="custom-control-input" value="local">
				<label class="custom-control-label" for="local">Local collection (<em>It would only be suitable for members of this Hive</em>)</label>
			</div>
		</div>
		<div class="form-group col-md-6">
			<div class="custom-control custom-radio custom-control-inline">
				<input type="radio" id="national" name="localNational" class="custom-control-input" value="national">
				<label class="custom-control-label" for="national">National collection (<em>It could potentially be suitable for members of any Hive (in the UK)</em>)</label>
			</div>
		</div>
	</div>
</div>