<div id="form-private-location" class="form-row">
	<!-- Nickname -->
	<div class="form-group col-md-3">
		<label class="sr-only" for="locationID">Location</label>
		<div class="input-group mb-2">
			{% include "components/tooltips/tooltip-nickname.html" %}
			<select class="form-control" id="locationID" name="locationID"
                            >
                            <option value="" selected disabled>Location</option>
                            {% for location in locations %}
                            <option
                                data-id="{{ location.street }}, {{ location.town }}, {{ location.postcode }}"
                                value="{{ location.nickname }}">{{ location.nickname }}
                            </option>
                            {% endfor %}
                            </select>
		</div>
	</div>
	<!-- Address -->
	<div class="form-group col-md-9">
		<label class="sr-only" for="locationAddress">Location</label>
		<div class="input-group mb-2">
			{% include "components/tooltips/tooltip-address.html" %}
			<input type="text" class="form-control" id="locationAddress"
                            name="locationAddress" placeholder="Street, town, postcode"
                            disabled>
                        </div>
		</div>
	</div>