{% extends "layout/base.html" %}
{% set active_item = "collection" %}
{% block content %}

<section id="add-collection">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10 offset-md-1">
          <div class="card">
            <div class="card-header green-background text-center" id="headingOne"> 
              <h4 class="mb-0">
                  <i class="fas fa-plus"></i> <strong>Add New Collection</strong>
              </h4>
            </div>
              <div class="card-body">
              <div class="row text-right">
                <a href="{{ url_for('add_new_collection') }}"  class="col-4 offset-8 btn-delete"><i
                            class="fas fa-redo-alt" data-toggle="tooltip"
                            data-placement="top" data-type="info"
                            title="Start again"></i> Start again</a> 
                </div>
                <form id="form-add-collection" name="addCollection" class="card-body" method="POST"
                action="">
                {% include "components/forms/collection-type.html" %}
                
                {% include "components/forms/local-national.html" %}
                
                <div class="private-collection">
                    <p class="warning-text">NB. Adding a private collection to the database indicates that you are happy for your collection location to be displayed on the website
                    to users registered to your Hive. <br>Please see FAQs for more information.</p>
                    <!-- Private collection type of waste -->
                    <div class="row">
                        <div class="col">
                            <h5><i class="fas fa-recycle"></i> What are you collecting?</h5>
                        </div>
                    </div>
                </div>
                
                    {% include "components/forms/type-of-waste.html" %}
                    <!-- Private collection location -->
                    <div class="private-collection">
                    <div class="row">
                        <div class="col">
                            <h5><i class="fas fa-home"></i> Where are you collecting this item?</h5>
                        </div>
                        
                    </div>
                    <small>To add a new location, please go to your Locations on your <a href="{{ url_for('profile', username=session['username'], _anchor='lcoations-card') }}" class="internal-link">profile</a></small>
                    </div>
                    {% include "components/forms/private-location.html" %}
                    <!-- Condition Notes -->
                    <div class="row all-collection">
                        <div class="col">
                            <h5><i class="fas fa-align-left"></i> What do people need to know about this collection?</h5>
                        </div>
                    </div>
                    {% include "components/forms/condition-notes.html" %}
                    <!-- Charity -->
                    <div class="row all-collection">
                        <div class="col">
                            <h5><i class="fas fa-hand-holding-heart"></i> Is this collection for a charitable cause?</h5>
                        </div>
                    </div>
                    {% include "components/forms/charity-scheme.html" %}
                
				<div class="modal-footer">
					<button type="button" class="btn btn-outline-primary"
				              data-dismiss="modal">Close</button>
					{% include "components/forms/submit-buttons.html" %}
				</div>
                </form>
              </div>
          </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}