{% extends "layout/base.html" %}
{% set active_item = "login" %}
{% block content %}

{% include "components/forms/user.html" %}

<div class="container-fluid">
  <div class="row text-center">
    <div class="col">
      {% if page_id == "login" %}
      <p>
        New Here? <a href="{{ url_for('find_a_hive') }}"
          class="internal-link">Register Account</a>
      </p>
      {% elif page_id == "register" %}
      <p>
        Already registered? <a href="{{ url_for('login') }}"
          class="internal-link">Log In</a>
      </p>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}