{% extends "layout/base.html" %}
{% block nav_home %}active{% endblock %}
{% block content %}

<section id="profile-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div id="accordion">
          <!-- Details card -->
          <div class="card">
            <div class="card-header green-background" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse"
                  data-target="#collapseOne" aria-expanded="true"
                  aria-controls="collapseOne">
                  <i class="fab fa-forumbee"></i> <strong>Your Details</strong>
                </button>
              </h5>
            </div>
            <div id="collapseOne" class="collapse show"
              aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                <div class="form-row">
                  <!-- Membership -->
                  <div class="form-group col-md">
                    <div class="input-group mb-2">
                      <div class="input-group-prepend" data-toggle="tooltip"
                        data-placement="top" data-type="info"
                        title="Membership">
                        <div class="input-group-text">
                          {% if member_type == "Queen Bee"%}<i
                            class="fas fa-crown"></i>
                          {% elif member_type == "Worker Bee"%}<i
                            class="fas fa-hard-hat"></i>
                          {% elif member_type == "Busy Bee" %}<i
                            class="fas fa-user"></i>
                          {% endif %}
                        </div>
                      </div>
                      <p class="form-control">You are currently a
                        {{ member_type }}
                      </p>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <!-- Username -->
                  <div class="form-group col-md-6">
                    <div class="input-group mb-2">
                      {% include "components/tooltips/tooltip-name.html" %}
                      <p class="form-control">{{ username }}</p>
                    </div>
                  </div>
                  <!-- Email -->
                  <div class="form-group col-md-6">
                    <div class="input-group mb-2">
                      {% include "components/tooltips/tooltip-email.html" %}
                      <p class="form-control">{{ email }}</p>
                    </div>
                  </div>
                </div>
                <!-- Amend profile -->
                <hr>
                <div class="container-fluid">
                  <div class="row">
                    <div id="delete-profile"
                      class="btn col-1 offset-10 btn-delete" data-toggle="modal"
                      data-target="#modal-delete-profile"><i
                        class="fas fa-trash-alt" data-toggle="tooltip"
                        data-placement="top" data-type="info"
                        title="Delete"></i></div>
                    <div id="amend-profile" class="btn col-1 btn-edit"
                      data-toggle="modal" data-target="#modal-edit-profile"><i
                        class="fas fa-edit" data-toggle="tooltip"
                        data-placement="top" data-type="info" title="Edit"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% if member_type != "Busy Bee" %}
          <!-- Activity card -->
          <div class="card-header green-background space-below">
            <h5 class="mb-0">
              <strong>Your Hive Activity</strong>
            </h5>
          </div>
          <div class="card">
            <div class="card-header green-background" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse"
                  data-target="#collapseTwo" aria-expanded="false"
                  aria-controls="collapseTwo">
                  <i class="fas fa-home"></i> <strong>Your Locations</strong>
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
              data-parent="#accordion">
              <div class="card-body">
                <!-- Add location -->
                <div class="container-fluid">
                  <div class="row">
                    <button type="button"
                      class="btn btn-outline-primary col-5 offset-7 col-md-3 offset-md-9 btn-add"
                      data-toggle="modal"
                      data-target="#modal-add-location">Add New
                      Location</button>
                  </div>
                </div>
                {% if locations %}
                {% for location in locations%}
                <hr>
                <div class="form-row">
                  <!-- Nickname -->
                  <div class="form-group col-md-3">
                    <div class="input-group mb-2">
                      {% include "components/tooltips/tooltip-nickname.html" %}
                      <p class="form-control">{{ location.nickname }}</p>
                    </div>
                  </div>
                  <!-- Address -->
                  <div class="form-group col-md-9">
                    <div class="input-group mb-2">
                      {% include "components/tooltips/tooltip-address.html" %}
                      <p class="form-control">
                        {{ location.street }}, {{ location.town }},
                        {{ location.postcode }}
                      </p>
                    </div>
                  </div>
                </div>
                <!-- Amend location -->
                <div class="container-fluid">
                  <div class="row">
                    <div id="delete-location"
                      class="btn col-1 offset-10 btn-delete" data-toggle="modal"
                      data-target="#modal-delete-location-{{ location._id }}"><i
                        class="fas fa-trash-alt" data-toggle="tooltip"
                        data-placement="top" data-type="info"
                        title="Delete"></i></div>
                    <div id="amend-location" class="btn col-1 btn-edit" data-toggle="modal"
                      data-target="#modal-edit-location-{{ location._id }}">
                      <i class="fas fa-edit" data-toggle="tooltip" data-placement="top"
                      data-type="info" title="Edit"></i>
                    </div>
                  </div>
                </div>
                {% endfor %}
                {% else %}
                <p><strong>You do not currently have any locations saved! Want
                    to add one?</strong></p>
                {% endif %}
              </div>
            </div>
          </div>
          <!-- Collections card -->
          <div class="card">
            <div class="card-header green-background" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse"
                  data-target="#collapseThree" aria-expanded="false"
                  aria-controls="collapseThree">
                  <i class="fas fa-recycle"></i> <strong>Your
                    Collections</strong>
                </button>
              </h5>
            </div>
            <div id="collapseThree" class="collapse"
              aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
                <!-- Add collection -->
                <div class="container-fluid">
                  <div class="row">
                    <button type="button"
                      class="btn btn-outline-primary col-5 offset-7 col-md-3 offset-md-9 btn-add"
                      data-toggle="modal"
                      data-target="#modal-add-collection">Add New
                      Collection</button>
                  </div>
                </div>
                {% if collections_dict %}
                {% for collection in collections_dict %}
                <hr class="green-line">
                {% include "components/collection-details-modal.html" %}
                <!-- Amend collection -->
                <div class="container-fluid">
                  <div class="row">
                    <div id="delete-collection"
                      class="btn col-1 offset-10 btn-delete"
                      data-toggle="tooltip" data-placement="top"
                      data-type="info" title="Delete"><i
                        class="fas fa-trash-alt"></i></div>
                    <div id="amend-collection" class="btn col-1 btn-edit"
                      data-toggle="tooltip" data-placement="top"
                      data-type="info" title="Edit"><i class="fas fa-edit"></i>
                    </div>
                  </div>
                </div>
                {% endfor %}
                {% else %}
                <p><strong>You do not currently have any collections saved! Want
                    to add one?</strong></p>
                {% endif %}
              </div>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>

{% include "components/edit-modal.html" %}

{% include "components/delete-modal.html" %}

{% include "components/add-modal.html" %}


{% endblock %}