<div class="form-row">
  <!-- Category -->
  <div class="form-group col-md-6">
    <div class="input-group mb-2">
      {% include "components/tooltips/tooltip-category.html" %}
      <p class="form-control item-display">{{ collection.categoryName }}</p>
    </div>
  </div>
  <!-- Type of waste -->
  <div class="form-group col-md-6">
    <div class="input-group mb-2">
      {% include "components/tooltips/tooltip-waste.html" %}
      <p class="form-control item-display">{{ collection.typeOfWaste }}</p>
    </div>
  </div>
</div>
<!-- Condition notes -->
<div class="form-group">
  <div class="input-group mb-2">
    {% include "components/tooltips/tooltip-notes.html" %}
    <p class="form-control item-display">{{ collection.conditionNotes }}</p>
  </div>
</div>