#grid {
  position: relative;
  bottom: 4rem;
  width: 75%;
  margin: 0 10% 4rem;
  padding: 0;
  /* Clears unordered list default of 40px */

}

.clear:after {
  content: "";
  display: block;
  clear: both;
}

#grid li {
  list-style-type: none;
  position: relative;
  float: left;
  width: 27.85714285714286%;
  padding: 0 0 32.16760145166612% 0;
  -o-transform: rotate(-60deg) skewY(30deg);
  -moz-transform: rotate(-60deg) skewY(30deg);
  -webkit-transform: rotate(-60deg) skewY(30deg);
  -ms-transform: rotate(-60deg) skewY(30deg);
  transform: rotate(-60deg) skewY(30deg);
  overflow: hidden;
  visibility: hidden;
}

.hexagon {
  cursor: pointer;
}

#grid li .hexagon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, #fafafa 50%, #bdc312 75%);
  -o-transform: skewY(-30deg) rotate(60deg);
  -moz-transform: skewY(-30deg) rotate(60deg);
  -webkit-transform: skewY(-30deg) rotate(60deg);
  -ms-transform: skewY(-30deg) rotate(60deg);
  transform: skewY(-30deg) rotate(60deg);
  overflow: hidden;
}

#grid li .hexagon.hexagon-medium {
  background: radial-gradient(circle, #fafafa 50%, #a3a80f 75%);
}

#grid li .hexagon.hexagon-dark {
  background: radial-gradient(circle, #fafafa 50%, #7e820c 75%);
}

#grid li * {
  visibility: visible;
}

#grid li .hexagon img {
  left: -100%;
  right: -100%;
  height: 75%;
  width: 100%;
  margin: 15% auto;
  -o-transition: all 0.6s linear 0s;
  -moz-transition: all 0.6s linear 0s;
  -ms-transition: all 0.6s linear 0s;
  -webkit-transition: all 0.6s linear 0s;
  transition: all 0.6s linear 0s;
}

#grid li:hover img {
  height: 150%;
  width: 200%;
}

#grid li:hover {
  filter: brightness(75%);
}

.hexagon-text {
  font-size: 0.8rem;
  width: 100%;
  color: #333;
  text-align: center;
  word-wrap: break-word;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.hexagon-text-background {
  background-color: #bdc312;
}

/* Media queries */
@media screen and (max-width: 991px) {
  #grid li:nth-child(3n+2) {
    margin: 0 1%;
  }

  #grid li:nth-child(6n+4),
  #grid li:nth-child(6n+5),
  #grid li:nth-child(6n+6) {
    margin-top: -6.9285714285%;
    margin-bottom: -6.9285714285%;
  }

  #grid li:nth-child(6n+1),
  #grid li:nth-child(6n+2),
  #grid li:nth-child(6n+3) {
    -o-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    -moz-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    transform: translateX(50%) rotate(-60deg) skewY(30deg);
  }

  #grid li:nth-last-child(1) {
    margin-bottom: 0.5%;
  }

  #grid li:nth-child(6n+1) {
    margin-left: 0.5%;
  }
}

@media screen and (min-width: 992px) {
  .hexagon-text {
    font-size: 1.2rem;
  }

  #grid li {
    width: 22.5%;
    padding: 0 0 26.03755254041571% 0;
  }

  #grid li:nth-child(1n+1) {
    margin: 0.5%;
  }

  #grid li:nth-child(8n+5),
  #grid li:nth-child(8n+6),
  #grid li:nth-child(8n+7),
  #grid li:nth-child(8n+8) {
    margin-top: -6.1%;
    margin-bottom: -6.1%;
    -o-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    -moz-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    transform: translateX(50%) rotate(-60deg) skewY(30deg);
  }

  #grid li:nth-last-child(1) {
    margin-bottom: 0.5%;
  }

  #grid li:nth-child(8n+5) {
    margin-left: 1%;
  }
}