
#grid {
    position: relative;
    width: 75%;
    margin: 0 10%;
    padding: 0; /* Clears unordered list default of 40px */
}

#grid.hexagon-large {
    width: 95%;
}

#grid.home {
    margin: 0 5%;
}

.clear:after {
    content: "";
    display: block;
    clear: both;
}

#grid li {
    list-style-type: none;
    position: relative;
    float: left;
     width: 22.5%;
    padding: 0 0 26.03755254041571% 0;
    -o-transform: rotate(-60deg) skewY(30deg);
    -moz-transform: rotate(-60deg) skewY(30deg);
    -webkit-transform: rotate(-60deg) skewY(30deg);
    -ms-transform: rotate(-60deg) skewY(30deg);
    transform: rotate(-60deg) skewY(30deg);
    overflow: hidden;
    visibility: hidden;
}

.hexagon {
    cursor: pointer;
}

#grid li .hexagon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, #fafafa 0%, #b9bf11 125%);
    -o-transform: skewY(-30deg) rotate(60deg);
    -moz-transform: skewY(-30deg) rotate(60deg);
    -webkit-transform: skewY(-30deg) rotate(60deg);
    -ms-transform: skewY(-30deg) rotate(60deg);
    transform: skewY(-30deg) rotate(60deg);
    overflow: hidden;
}

#grid li .hexagon.hexagon-medium {
    background: radial-gradient(circle, #fafafa 0%, #94990e 125%);
}

#grid li .hexagon.hexagon-dark {
    background: radial-gradient(circle, #fafafa 0%, #575908 125%);
}

#grid li * {
    visibility: visible;
}

#grid li:nth-child(1n+1) {
  margin: 0.5%;
}


#grid li:nth-child(8n+5), #grid li:nth-child(8n+6), #grid li:nth-child(8n+7), #grid li:nth-child(8n+8) {
    margin-top: -6.1%;
    margin-bottom: -6.1%;
    -o-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    -moz-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    transform: translateX(50%) rotate(-60deg) skewY(30deg);
}

#grid li:nth-child(8n+5) { 
    margin-left: 1%;
}

#grid li .hexagon img {
  left:-100%;
  right:-100%;
  height:100%;
  width: auto;
  margin: 0 auto;
  -o-transition: all 0.6s linear 0s; 
  -moz-transition: all 0.6s linear 0s; 
  -ms-transition: all 0.6s linear 0s; 
  -webkit-transition: all 0.6s linear 0s; 
  transition: all 0.6s linear 0s;
}

#grid li:hover img {
  height: 150%;
  -o-transform: translateZ(0) translateX(-25%);
  -moz-transform: translateZ(0) translateX(-25%);
  -webkit-transform: translateZ(0) translateX(-25%);
  -ms-transform: translateZ(0) translateX(-25%);
  transform: translateZ(0) translateX(-25%);
}

#grid li:hover {
    filter: brightness(75%);
}



.hexagon-text {
width: 100%;
background-color: #b9bf11;
color: #fafafa;
text-align: center;
margin: 0;
position: absolute;
top: 50%;
left: 50%;
-o-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
-moz-transform: translate(-50%, -50%);
-webkit-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}

.hexagon-text.hexagon-medium {
background-color: #94990e;
color: #fafafa;
}

.hexagon-text.hexagon-dark {
background-color: #575908;
color: #fafafa;
}