@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");

body {
  font-family: "Neucha";
  background-color: #fafafa;
  color: #333;
  margin-bottom: 3rem;
  min-height: 100vh;
}

span.internal-link {
  cursor: pointer;
}

.internal-link {
  color: #3a5c2d;
  font-weight: bold;
  font-size: 120%;
}

/* Navbar */

.navbar {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(58, 92, 45, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }

  .navbar-light .navbar-toggler {
    border-color: #3a5c2d;
  }

.navbar-light .navbar-nav .nav-link {
  color: #3a5c2d;
  text-align: right;
  font-weight: bold;
}

.navbar-light .navbar-nav .active>.nav-link {
  color: #3a5c2d;
  text-decoration: underline;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #bdc312;
  text-decoration: underline;
}

.honeycomb-green {
  background:
    radial-gradient(circle farthest-side at 0% 50%, #fafafa 23.5%, rgba(240, 166, 17, 0) 0)21px 30px,
    radial-gradient(circle farthest-side at 0% 50%, #f1f3b8 24%, rgba(240, 166, 17, 0) 0)19px 30px,
    linear-gradient(#fafafa 14%, rgba(240, 166, 17, 0) 0, rgba(240, 166, 17, 0) 85%, #fafafa 0)0 0,
    linear-gradient(150deg, #fafafa 24%, #f1f3b8 0, #f1f3b8 26%, rgba(240, 166, 17, 0) 0, rgba(240, 166, 17, 0) 74%, #f1f3b8 0, #f1f3b8 76%, #fafafa 0)0 0,
    linear-gradient(30deg, #fafafa 24%, #f1f3b8 0, #f1f3b8 26%, rgba(240, 166, 17, 0) 0, rgba(240, 166, 17, 0) 74%, #f1f3b8 0, #f1f3b8 76%, #fafafa 0)0 0,
    linear-gradient(90deg, #f1f3b8 2%, #fafafa 0, #fafafa 98%, #f1f3b8 0%)0 0 #fafafa;
  background-size: 40px 60px;
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: #333;
  text-decoration: underline;
  background-color: inherit;
}

.dropdown-menu {
  max-height: 80vh;
  overflow-y: auto;
}

.flashes {
  text-align: center;
  color: #333;
  background-color: #f1f3b8;
  margin-bottom: 1.5rem;
}

.flashes h4 {
  font-size: 1.2rem;
}

.notification-bar {
  text-align: right;
  background-color: #f1f3b8;
  color: #8C0A06;
  padding: 0.5rem;
  font-size: 1rem;
}

/* Register */
.card {
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
}

.card-body {
  padding-bottom: 0;
}

.input-group-text {
  color: #333;
  background-color: #bdc312;
}

.btn-outline-primary {
  color: #333;
  font-size: 1rem;
  border-color: #3a5c2d;
  border-width: 0.2rem;
}

.btn-outline-primary:hover {
  color: #fafafa;
  background-color: #3a5c2d;
  border-color: #3a5c2d;
}

.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show>.btn-outline-primary.dropdown-toggle {
  color: #fafafa;
  background-color: #3a5c2d;
  border-color: #3a5c2d;
}

/* Index */

.green-background {
  color: #333;
  background-color: #bdc312;
  border-radius: .25rem;
  font-weight: bold;
  padding: 0.75rem;
}

.green-background>* {
  margin-bottom: 0;
}

.green-line {
  background-color: #bdc312;
}

.img-membership {
  font-size: 2rem;
}

.btn-add {
  font-size: 1rem;
  line-height: 1;
}

.btn-edit {
  font-size: 1rem;
  color: #bdc312;
  padding: 0.5rem;
}

.btn-delete {
  font-size: 1rem;
  color: #8C0A06;
  padding: 0.5rem;
}

.btn-edit:hover {
  border: 1px solid #bdc312;
  border-radius: 0.25rem;

}

.btn-delete:hover {
  border: 1px solid #8C0A06;
  border-radius: 0.25rem;
}

a.btn-delete:hover {
  color: #3a5c2d;
  border: none;
  text-decoration: none;
}

.warning-text {
  color: #8C0A06;
  font-weight: bold;
  text-align: center;
}

small.warning-text {
  font-weight: normal;
}

/* Hive */

.breadcrumb {
  background-color: #bdc312;
}

.breadcrumb-item.active {
  color: #333;
  text-decoration: underline;
}

.breadcrumb-item+.breadcrumb-item::before {
  color: #333;
}

.breadcrumb-item>a {
  color: #333;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

.breadcrumb-item>a:hover {
  text-decoration: underline;
}

.page-switch {
  margin-bottom: 2rem;
}

.page-selected {
  background-color: #3a5c2d;
  color: #fafafa
}

.space-below {
  margin-bottom: 1.5rem;
}

.space-holder {
  visibility: hidden;
}

.grid-blank {
  margin-top: 5rem;
}

.btn-link {
  font-size: 1.2rem;
  color: #333;
}

.btn-link:hover {
  text-decoration: none;
  color: #fafafa;
}

.btn-wide {
  width: 100%;
}

.fa-chevron-down {
  padding-top: 1rem;
  position: absolute;
  right: 1.5rem;
  top: 0.8rem;
}

.heading-buttons {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 1.5rem;
}

.form-control.item-display {
  height: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

select {

-webkit-appearance: none; 
-moz-appearance: none;
appearance: none;

-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
background: url(http://dropdown/arrow/url/) no-repeat;
background-position: right center;
background-color: #CCCCCC;
color: #000000;
border: 1px solid #000000;

height:auto !important;

}

/* Cards */

.card-header>h3 {
  font-size: 1.3rem;
}

.card-header>h5 {
  font-size: 1rem;
}

/* Modals */
.modal-content {
  border: 0.5rem solid #3a5c2d;
}

.modal-title {
  color: #3a5c2d;
}

.modal-footer {
  padding: 1rem 0;
}

/* Footer */
footer {
  font-size: 1.2rem;
  min-height: 3rem;
  color: #3a5c2d;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-top: 3rem;
  padding-top: 0.5rem;
}

footer a {
  text-decoration: none;
  color: inherit;
}

footer a:hover {
  color: #bdc312;
}

.footer-text {
  font-size: 1rem;
  margin: 0;
  font-weight: bold;
}

/* Tooltip */
.tooltip-inner {
  background-color: #333;
}

/* Media queries */

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 70%;
  }
}

@media screen and (min-width: 992px) {
  footer {
    font-size: 1.8rem;
  }

  .navbar-nav .nav-link {
    padding-bottom: 0rem;
  }

  .hexagon-text {
    font-size: 1.5rem;
  }

  .btn-outline-primary {
    font-size: 1.3rem;
  }

  .card-header>h3 {
    font-size: 1.75rem;
  }

  .card-header>h5 {
    font-size: 1.3rem;
  }

  .flashes h4 {
    font-size: 1.5rem;
  }

  .notification-bar {
    font-size: 1.2rem;
  }
}