@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

body {
    font-family: "Neucha";
    background-color: #fafafa;
    color: #333;
    margin-bottom: 3rem;
}

.internal-link {
    color: #6c8c26;
    font-weight: bold;
}

.green-background {
    color: #333;
    background-color: #d2d914;
}

/* Navbar */

.text-shadow {
    text-shadow: 1px 1px 1px #154d14
}
.navbar {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.navbar-light .navbar-toggler {
    border-color: rgba(0,0,0,0);
}

.navbar-light .navbar-nav .nav-link {
    color: #fafafa;
    text-align: center;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: #fafafa;
    text-decoration: underline;
}

.honeycomb-green {
background:
radial-gradient(circle farthest-side at 0% 50%,#6c8c26 23.5%,rgba(240,166,17,0) 0)10.5px 15px,
radial-gradient(circle farthest-side at 0% 50%,#98ae67 24%,rgba(240,166,17,0) 0)9.5px 15px,
linear-gradient(#6c8c26 14%,rgba(240,166,17,0) 0, rgba(240,166,17,0) 85%,#6c8c26 0)0 0,
linear-gradient(150deg,#6c8c26 24%,#98ae67 0,#98ae67 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#98ae67 0,#98ae67 76%,#6c8c26 0)0 0,
linear-gradient(30deg,#6c8c26 24%,#98ae67 0,#98ae67 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#98ae67 0,#98ae67 76%,#6c8c26 0)0 0,
linear-gradient(90deg,#98ae67 3%,#6c8c26 0,#6c8c26 98%,#98ae67 0%)0 0 #6c8c26;
background-size: 20px 30px;
}

.flashes {
    text-align: center;
    color: #fafafa;
    background-color: #6c8c26;
    margin-bottom: 1.5rem;
}

/* Register */
.card {
    margin-bottom: 1.5rem;
    padding-bottom: 1rem;
}

.input-group-text {
    color: #333;
    background-color: #d2d914;
}

.btn-outline-primary {
    color: #333;
    font-size: 1.3rem;
    border-color: #6c8c26;
    border-width: 0.2rem;
}

.btn-outline-primary:hover {
    color: #fafafa;
    background-color: #6c8c26;
    border-color: #6c8c26;
}

.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle {
    color: #333;
    background-color: #6c8c26;
    border-color: #6c8c26;
}

/* Hive */

.page-switch {
    margin-bottom: 2rem;
}


.page-selected {
    background-color: #6c8c26;
    color: #fafafa
}

.space-below {
    margin-bottom: 1.5rem;
}

.btn-link {
    font-size: 1.2rem;
    color: #333;
}

.btn-link:hover {
    text-decoration: none;
    color: #fafafa;
}

.btn-wide {
    width: 100%;
}

.fa-chevron-down {
    padding-top: 1rem;
    position: absolute;
    right: 1.5rem;
    top: 0.8rem;
}

.heading-buttons {
    width: 80%;
    margin: 0 auto;
}

/* Item collection modal */

.modal-borders {
    border: solid 2px #d2d914;
}

/* Modals */
.modal-content {
    border: 0.5rem solid #6c8c26;
}

@media (min-width: 576px) {
.modal-dialog {
    max-width: 70%;
}
}

/* Footer */
footer {
background:
radial-gradient(circle farthest-side at 0% 50%,#733924 23.5%,rgba(240,166,17,0) 0)10.5px 15px,
radial-gradient(circle farthest-side at 0% 50%,#9d7465 24%,rgba(240,166,17,0) 0)9.5px 15px,
linear-gradient(#733924 14%,rgba(240,166,17,0) 0, rgba(240,166,17,0) 85%,#733924 0)0 0,
linear-gradient(150deg,#733924 24%,#9d7465 0,#9d7465 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#9d7465 0,#9d7465 76%,#733924 0)0 0,
linear-gradient(30deg,#733924 24%,#9d7465 0,#9d7465 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#9d7465 0,#9d7465 76%,#733924 0)0 0,
linear-gradient(90deg,#9d7465 3%,#733924 0,#733924 98%,#9d7465 0%)0 0 #733924;
background-size: 20px 30px;
  color: #fafafa;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

/* Media queries */
@media screen and (min-width: 992px) {
  .navbar-light .navbar-nav .nav-link {
    text-align: right;
}
  .navbar-nav .nav-link {
    padding-bottom: 0rem;
}
}