{% for collection in collections_dict_private if collection.typeOfWaste == selected_item %}
<div class="modal fade" id="modal-collection-private-{{ collection._id }}" tabindex="-1"
  role="dialog" aria-labelledby="modal-collection-private-title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100" id="modal-collection-private-title">Collection
          details for {{ collection.hiveMembers }}</h4>

        <button type="button" class="close" data-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        {% include "components/details/collection.html" %}
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-primary"
            data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
</div>
{% endfor %}

{% for collection in collections_dict_public if collection.typeOfWaste == selected_item %}
<div class="modal fade" id="modal-collection-public-{{ collection._id }}" tabindex="-1"
  role="dialog" aria-labelledby="modal-collection-public-title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100" id="modal-collection-public-title">Collection
          details for
          {% if collection.collectionType == "local-council" %}{{ collection.councilLocation }}{% else %}{{ collection.businessName }}{% endif %}
        </h4>

        <button type="button" class="close" data-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        {% include "components/details/public-collection.html" %}
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-primary"
            data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
</div>
{% endfor %}