<div class="heading-buttons">
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item {% if active_item == 'categories' %}active{% endif %}"><a
					href="{{ url_for('get_recycling_categories') }}">Hive Categories</a>
			</li>
			<li class="breadcrumb-item {% if active_item == 'items' %}active{% endif %}"><a
					href="{{ url_for('get_recycling_items', category_id='view-all') }}">Hive
					Items</a></li>
			<li class="breadcrumb-item {% if active_item == 'collections' %}active{% endif %}"><a
					href="{{ url_for('get_recycling_collections', item_id='view-all') }}">Hive
					Collections</a></li>
			<li class="breadcrumb-item {% if active_item == 'members' %}active{% endif %}"><a
					href="{{ url_for('get_recycling_members', member_type='view-all') }}">Hive
					Members</a></li>
		</ol>
	</nav>
</div>