<nav class="navbar navbar-expand-lg navbar-light honeycomb-green">
  <a class="navbar-brand"
    href="{{ url_for('home') }}">
    <img src="../../static/images/logo.png" width="250" alt="Recyling Hive">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item {% if active_item == 'home' %}active{% endif %}">
        <a class="nav-link"
          href="{{ url_for('home') }}">Home</a>
      </li>
      {% if session.user %}
      <li
        class="nav-item {% if (active_item == 'categories') or (active_item == 'items') or (active_item == 'collections') or (active_item == 'members') %}active{% endif %}">
        <a class="nav-link"
          href="{{ url_for('get_recycling_categories') }}">Search Hive</a>
      </li>
      <li
        class="nav-item {% if active_item == 'collection' %}active{% endif %}">
        <a class="nav-link" href="{{ url_for('add_new_collection') }}">Add
          Collection</a>
      </li>
      {% if session.member_type == "Queen Bee" %}
      <li
        class="nav-item {% if active_item == 'management' %}active{% endif %}">
        <a class="nav-link"
          href="{{ url_for('hive_management', username=session['username']) }}">Hive
          Management</a>
      </li>
      {% endif %}
      {% if session.user == "demo@demo.com" %}
      <li class="nav-item {% if active_item == 'login' %}active{% endif %}">
        <a class="nav-link" href="{{ url_for('login') }}">Login</a>
      </li>
      <li class="nav-item {% if active_item == 'register' %}active{% endif %}">
        <a class="nav-link" href="{{ url_for('find_a_hive') }}">Register</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('logout') }}">Log Out</a>
      </li>
      {% endif %}
      {% else %}
      <li class="nav-item {% if active_item == 'demo' %}active{% endif %}">
        <a class="nav-link" href="{{ url_for('demo') }}">Demo</a>
      </li>
      <li class="nav-item {% if active_item == 'login' %}active{% endif %}">
        <a class="nav-link" href="{{ url_for('login') }}">Login</a>
      </li>
      <li class="nav-item {% if active_item == 'register' %}active{% endif %}">
        <a class="nav-link" href="{{ url_for('find_a_hive') }}">Register</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>