{% extends "layout/base.html" %}
{% set active_item = "hive" %}
{% set active_item = "items" %}
{% block content %}

{% include "components/breadcrumbs.html" %}

{% include "components/dropdown.html" %}


<!-- Item collection accordion -->
<div id="item-layout">
  <ul id="grid" class="clr">
    {% for catItem in catItems %}
    <li id="select-category">
      <a href="{{ url_for('get_recycling_collections', itemID=catItem._id) }}">
        <div class="hexagon hexagon-medium">
          <h5 class="hexagon-text hexagon-medium">{{ catItem.typeOfWaste }}</h5>
        </div>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>

{% endblock %}