{% extends "base.html" %}
{% block nav_hive %}active{% endblock %}
{% block nav_category %}active{% endblock %}
{% block content %}
<div class="heading-buttons">
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item active" aria-current="page">Hive Categories</li>
		</ol>
	</nav>
</div>
<!-- Show all categories -->
<div id="category-layout">
	<ul id="grid" class="clr">
        <li id="select-category" >
			<a href="{{ url_for('get_recycling_items', categoryID='view-all') }}">
				<div class="hexagon">
					<h3 class="hexagon-text">View all items</h3>
				</div>
			</a>
		</li>
		{% for category in categories %}
		<li id="select-category" >
			<a href="{{ url_for('get_recycling_items', categoryID=category._id) }}">
				<div class="hexagon">
					<h5 class="hexagon-text">{{ category.categoryName }}</h5>
				</div>
			</a>
		</li>
		{% endfor %}
	</ul>
</div>

{% endblock %}