{% extends "base.html" %}
{% block nav_hive %}active{% endblock %}
{% block content %}
<!-- Button to switch between page views -->
<div class="container-fluid page-switch">
	<div class="row">
		<div class="col-3 offset-3 text-center">
			<a class="btn btn-outline-primary btn-wide" href="{{ url_for('get_recycling_categories') }}">Explore categories</a>
		</div>
		<div class="col-3 text-center">
			<a class="btn btn-outline-primary btn-wide" href="{{ url_for('get_recycling_items', categoryID='5f8054dd4361cd9f497a63dd') }}">View all</a>
		</div>
	</div>
</div>

<!-- Show all items -->
<div id="viewall-layout">
	<!-- Add item button -->
	<button type="button" id="addLocation" class="btn btn-outline-primary col space-below" data-toggle="modal" data-target="#locationModal">Add new recycling location</button>
                
                <!-- Type of Waste Dropdown -->
                <form class="card-body" method="POST" action="">
					<div class="form-row">
						<div class="form-group col-md-6">
							<label class="sr-only" for="itemCategory">Category</label>
							<div class="input-group mb-2">
								<div class="input-group-prepend">
									<div class="input-group-text"><i class="fas fa-recycle"></i></div>
								</div>
								<select class="form-control" id="itemCategory" name="itemCategory" required>
							      <option value="" selected disabled>Category</option>
                                  {% for category in categories %}
							        <option value="{{ category.categoryName }}">{{ category.categoryName }}</option>
                                  {% endfor %}
                            </select>
							</div>
                        </div>
                    </div>
                </form>
	<!-- Item collection accordion -->
	<div class="accordion" id="accordionExample">
		{% for categoryItem in categoryItems %}
		<div class="card">
			<div class="card-header green-background" id="headingOne">
				<div class="mb-0 row">
					<button class="btn btn-link row btn-wide" type="button" data-toggle="collapse" data-target="#collapse{{ loop.index }}" aria-expanded="true" aria-controls="collapse{{counter}}">
                    {{ categoryItem.typeOfWaste }}<i class="fas fa-chevron-down"></i>
                    </button>
				</div>
			</div>

			<div id="collapse{{ loop.index }}" class="collapse show" aria-labelledby="headingOne"
				data-parent="#accordionExample">
				<div class="card-body">
					<ul id="grid" class="clr">
						<li>
							<a href="#item2">
								<div class="hexagon">
									<h3 class="hexagon-text"></h3>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>

<!-- Add new location modal -->
<div class="modal fade" id="locationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header text-center">
				<h4 class="modal-title w-100" id="exampleModalLongTitle">Add New Recycling Location</h4>

				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
			</div>
			<div class="modal-body">
				<p><em>Please note, this option is to add your own <strong>personal</strong> location to the database. If you would like to suggest a local/national 
                <strong>public</strong> location (i.e. business or similar), please do so <a href="" class="internal-link">here.</a></em>
				</p>
				<!-- Input form -->

				<form class="card-body" method="POST" action="">

					<div class="form-row">
						<!-- Type of Waste -->
						<div class="form-group col-md-6">
							<label class="sr-only" for="typeOfWaste">Type of Waste</label>
							<div class="input-group mb-2">
								<div class="input-group-prepend">
									<div class="input-group-text"><i class="fas fa-recycle"></i></div>
								</div>
								<select class="form-control" id="typeOfWaste" name="typeOfWaste" required>
							      <option value="" selected disabled>Type of Waste</option>
                                  {% for item in items %}
							        <option value="{{ item.typeOfWaste }}">{{ item.typeOfWaste }}</option>
                                  {% endfor %}
                            </select>
							</div>
						</div>
						<!-- Location -->
						<div class="form-group col-md-6">
							<label class="sr-only" for="locationID">Type of Waste</label>
							<div class="input-group mb-2">
								<div class="input-group-prepend">
									<div class="input-group-text"><i class="fas fa-home"></i></div>
								</div>
								<select class="form-control" id="locationID" name="locationID" required>
							      <option value="" selected disabled>Location</option>
                                  {% for location in locations %}
							        <option value="{{ location.nickname }}">{{ location.nickname }}</option>
                                  {% endfor %}
                            </select>
							</div>
						</div>
					</div>
					<!-- Condition Notes -->
					<div class="form-group">
						<label class="sr-only" for="conditionNotes">What condition should this item be in?</label>
						<div class="input-group mb-2">
							<div class="input-group-prepend">
								<div class="input-group-text"><i class="far fa-question-circle"></i></div>
							</div>
							<textarea type="text" class="form-control" id="conditionNotes" name="conditionNotes"
                            placeholder="What condition should this item be in? (E.g. Washed/As it is)" minlength="4" required></textarea>
						</div>
					</div>
					<!-- Charity -->
					<div class="form-group">
						<label class="sr-only" for="charityScheme">Charity (optional)</label>
						<div class="input-group mb-2">
							<div class="input-group-prepend">
								<div class="input-group-text"><i class="fas fa-hand-holding-heart"></i></div>
							</div>
							<input type="text" class="form-control" id="charityScheme" name="charityScheme" placeholder="Charity (optional)" minlength="2">
                        </div>
						</div>
						<!-- Submit -->
						<div class="modal-footer">
							<button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
							<button id="locationSubmit" class="btn btn-outline-primary" type="submit">Submit new location</button>
						</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}