{% extends "base.html" %}
{% block nav_hive %}active{% endblock %}
{% block content %}
<!-- Button to switch between page views -->
<div class="container-fluid page-switch">
    <div class="row">
        <div class="col-3 offset-3 text-center">
            <button id="btn-categories" class="btn btn-outline-primary col page-selected">Explore categories</button>
        </div>
        <div class="col-3 text-center">
            <button id="btn-viewall" class="btn btn-outline-primary col">View all</button>
        </div>
    </div>
</div>
<!-- Show all categories -->
<div id="category-layout">
<ul id="grid" class="clr">
    {% for category in categories %}
	<li>
		<a href="#item2">
			<div class="hexagon">
				<h3 class="hexagon-text">{{ category.categoryName }}</h3>
			</div>
		</a>
	</li>
    {% endfor %}
</ul>
</div>
<!-- Show all items -->
<div id="viewall-layout">
    <!-- Add item button -->
    <button id="addLocation" class="btn btn-outline-primary col space-below">Add new recycling location</button>
    <!-- Item collection accordion -->
	<div class="accordion" id="accordionExample">
    {% for category in categories %}
		<div class="card">
			<div class="card-header green-background" id="headingOne">
				<div class="mb-0 row">
					<button class="btn btn-link row" type="button" data-toggle="collapse" data-target="#collapse{{ loop.index }}" aria-expanded="true" aria-controls="collapse{{counter}}">
                    {{ category.categoryName }}<i class="fas fa-chevron-down"></i>
                    </button>
				</div>
			</div>

			<div id="collapse{{ loop.index }}" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
				<div class="card-body">
					<ul id="grid" class="clr">
						<li>
							<a href="#item2">
								<div class="hexagon">
									<h3 class="hexagon-text"></h3>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
    {% endfor %}
	</div>
</div>
{% endblock %}