{% extends "base.html" %}
{% block nav_hive %}active{% endblock %}
{% block content %}

<div class="container-fluid page-switch">
    <div class="row">
        <div class="col-3 offset-3 text-center">
            <button id="btn-categories" class="btn btn-outline-primary col page-selected">Explore categories</button>
        </div>
        <div class="col-3 text-center">
            <button id="btn-viewall" class="btn btn-outline-primary col">View all</button>
        </div>
    </div>
</div>

<div class="category-layout">
<ul id="grid" class="clr">
    {% for category in categories %}
	<li>
		<a href="#item2">
			<div class="hexagon">
				<h3 class="hexagon-text">{{ category.categoryName }}</h3>
			</div>
		</a>
	</li>
    {% endfor %}
</ul>
</div>
{% endblock %}