{% extends "layout/base.html" %}
{% set active_item = "hive" %}
{% set active_item = "members" %}
{% block content %}

{% include "components/breadcrumbs.html" %}

{% include "components/dropdown.html" %}


<div id="member-layout">
<!-- Item collection accordion -->
<ul id="grid" class="clr">
  {% for member in memberGroup %}
  <li id="select-category">
    <div
      class="hexagon {% if ((member.isQueenBee == False) and (member.isWorkerBee == False)) %}hexagon-dark{% elif ((member.isQueenBee == False) and (member.isWorkerBee == True)) %}hexagon-medium{% endif %}"
      data-toggle="modal" data-target="#modal-collection-{{ member._id }}">
      <h5
        class="hexagon-text {% if ((member.isQueenBee == False) and (member.isWorkerBee == False)) %}hexagon-dark{% elif ((member.isQueenBee == False) and (member.isWorkerBee == True)) %}hexagon-medium{% endif %}">
        {% if member.isQueenBee == True %}<i class="fas fa-crown"></i>
        {% elif member.isWorkerBee == True %}<i class="fas fa-hard-hat"></i>
        {% else %}<i class="fas fa-user"></i> {% endif %}{{ member.username }}
      </h5>
    </div>
  </li>

  {% endfor %}
</ul>
</div>
<!-- Collection details modal -->
{% for member in memberGroup %}
<div class="modal fade" id="modal-collection-{{ member._id }}" tabindex="-1" role="dialog"
  aria-labelledby="modal-collection-title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100" id="modal-collection-title">All
          Collections for {{ member.username }}</h4>

        <button type="button" class="close" data-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
                {% if member._id in membersCollectionValues %}
                {% for collection in membersDict if collection._id == member._id %}
                <div class="form-row">
                  <!-- Type of waste -->
                  <div class="form-group col-md-6">
                    <div class="input-group mb-2">
                      <div class="input-group-prepend" data-toggle="tooltip"
                        data-placement="top" data-type="info"
                        title="Type of Waste">
                        <div class="input-group-text"><i
                            class="fas fa-recycle"></i></div>
                      </div>
                      <p class="form-control">{{ collection.typeOfWaste }}</p>
                    </div>
                  </div>
                  <!-- Charity Scheme -->
                  <div class="form-group col-md-6">
                    <div class="input-group mb-2">
                      <div class="input-group-prepend" data-toggle="tooltip"
                        data-placement="top" data-type="info"
                        title="Charity Scheme">
                        <div class="input-group-text"><i
                            class="fas fa-hand-holding-heart"></i>
                        </div>
                      </div>
                      <p class="form-control">{{ collection.charityScheme }}</p>
                    </div>
                  </div>
                </div>
                <!-- Location -->
                <div class="form-group">
                  <div class="input-group mb-2">
                    <div class="input-group-prepend" data-toggle="tooltip"
                      data-placement="top" data-type="info"
                      title="Collection Address">
                      <div class="input-group-text"><i class="fas fa-home"></i>
                      </div>
                    </div>
                    <p class="form-control">{{ collection.street }},
                      {{ collection.town }}, {{ collection.postcode }}
                    </p>
                  </div>
                </div>
                <!-- Condition notes -->
                <div class="form-group">
                  <div class="input-group mb-2">
                    <div class="input-group-prepend" data-toggle="tooltip"
                      data-placement="top" data-type="info"
                      title="Collection Notes">
                      <div class="input-group-text"><i
                          class="fas fa-comment"></i></div>
                    </div>
                    <p class="form-control">{{ collection.conditionNotes }}</p>
                  </div>
                </div>
                <hr>
                {% endfor %}
                {% else %}
                <p>This member does not have any collections.</p>
                {% endif %}
              </div>
            </div>
      </div>
    </div>
{% endfor %}

{% endblock %}