{% extends "base.html" %}
{% block nav_hive %}active{% endblock %}
{% block content %}

<div class="container-fluid page-switch">
    <div class="row">
        <div class="col-3 offset-3 text-center">
            <a href="" class=" page-selected">Explore categories</a>
        </div>
        <div class="col-3 text-center">
            <a href="">View all</a>
        </div>
    </div>
</div>

<ul id="grid" class="clr">
    {% for category in categories %}
	<li>
		<a href="#item2">
			<div class="hexagon">
				<h3 class="hexagon-text">{{ category.categoryName }}</h3>
			</div>
		</a>
	</li>
    {% endfor %}
</ul>

{% endblock %}