{% extends "base.html" %}
{% block nav_home %}active{% endblock %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-md-2">
			<div class="card">
				<div class="card-body text-center green-background">
					<h4>Welcome back to the XXX Hive,</h4>
                    <h3>{{ username }}!</h3>
				</div>
			</div>
        </div>
    </div>
</div>

<div class="hexagon-display">
	<ul id="hexGrid">
		<li class="hex">
			<a class="hexIn" href="#">
				<img src="../static/images/tree-of-recycling-elements.jpg" alt="">
				<h1>This is a title 1</h1>
				<p>This is description 1</p>
			</a>
		</li>
		<li class="hex">
			<a class="hexIn" href="#">
				<img src="../static/images/tree-of-recycling-elements.jpg" alt="">
				<h1>This is title 2</h1>
				<p>This is description 2</p>
			</a>
		</li>
	</ul>
</div>

{% endblock %}