{% extends "base.html" %}
{% block nav_home %}active{% endblock %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-md-2">
			<div class="card">
				<div class="card-body text-center green-background">
					<h4>Welcome back to the XXX Hive,</h4>
                    <h3>{{ username }}!</h3>
				</div>
			</div>
        </div>
    </div>
</div>

<ul id="grid" class="clr">
    <li>
      <a href="#item2">
        <div class="hexagon">
          <img src="../static/images/recycling-items.jpg" alt="Lorem Ipsum"/>
          <h3 class="hexagon-text">1</h3>
        </div>
      </a>
    </li>
    <li>
      <a href="#item2">
        <div class="hexagon">
          <img src="../static/images/recycling-items.jpg" alt="Lorem Ipsum"/>
          <h3 class="hexagon-text">2</h3>
        </div>
      </a>
    </li>
    <li>
        <a href="#item3">
        <div class="hexagon">
          <img src="../static/images/recycling-items.jpg" alt="Lorem Ipsum"/>
          <h3 class="hexagon-text">3</h3>
        </div>
      </a>
    </li>
    <li>
      <a href="#item2">
        <div class="hexagon">
          <img src="../static/images/recycling-items.jpg" alt="Lorem Ipsum"/>
          <h3 class="hexagon-text">4</h3>
        </div>
      </a>
    </li>
    <li>
      <a href="#item2">
        <div class="hexagon">
          <img src="../static/images/recycling-items.jpg" alt="Lorem Ipsum"/>
          <h3 class="hexagon-text">5</h3>
        </div>
      </a>
    </li>
    <li>
      <a href="#item2">
        <div class="hexagon">
          <img src="../static/images/recycling-items.jpg" alt="Lorem Ipsum"/>
          <h3 class="hexagon-text">6</h3>
        </div>
      </a>
    </li>
    <li>
      <a href="#item2">
        <div class="hexagon">
          <img src="../static/images/recycling-items.jpg" alt="Lorem Ipsum"/>
          <h3 class="hexagon-text">7</h3>
        </div>
      </a>
    </li>
    <li>
      
    </li>
    <li>
      <a href="#item2">
        <div class="hexagon">
          <img src="../static/images/recycling-items.jpg" alt="Lorem Ipsum"/>
          <h3 class="hexagon-text">9</h3>
        </div>
      </a>
    </li>
    <li>
      <a href="#item2">
        <div class="hexagon">
          <img src="../static/images/recycling-items.jpg" alt="Lorem Ipsum"/>
          <h3 class="hexagon-text">10</h3>
        </div>
      </a>
    </li>
    <li>
      <a href="#item2">
        <div class="hexagon">
          <img src="../static/images/recycling-items.jpg" alt="Lorem Ipsum"/>
          <h3 class="hexagon-text">11</h3>
        </div>
      </a>
    </li>
    <li>
      <a href="#item2">
        <div class="hexagon">
          <img src="../static/images/recycling-items.jpg" alt="Lorem Ipsum"/>
          <h3 class="hexagon-text">12</h3>
        </div>
      </a>
    </li>
    <li>
      <a href="#item2">
        <div class="hexagon">
          <img src="../static/images/recycling-items.jpg" alt="Lorem Ipsum"/>
          <h3 class="hexagon-text">13</h3>
        </div>
      </a>
    </li>
  </ul>

{% endblock %}