<!-- Delete profile modal -->
<div class="modal fade" id="modal-delete-profile" tabindex="-1" role="dialog"
  aria-labelledby="modal-delete-profile-title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100" id="modal-delete-profile-title">Delete
          Profile</h4>

        <button type="button" class="close" data-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="delete-profile" class="card-body"
          action="{{ url_for('delete_profile') }}">
          <p class="warning-delete">Are you sure you want to delete your
            profile?<br>
            This will remove all locations and recycling collections associated
            with your user profile!
          <p>
            <!-- Submit -->
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-primary"
              data-dismiss="modal">Cancel</button>
            <button id="submit-delete-profile" class="btn btn-outline-primary"
              type="submit" name="submit-delete-profile">Delete
              Profile!</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


{% for location in locations %}
<!-- Delete location modal -->
<div class="modal fade" id="modal-delete-location-{{ location._id }}" tabindex="-1" role="dialog"
  aria-labelledby="modal-delete-location-title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100" id="modal-delete-location-title">Delete {{ location.nickname }}
          Location</h4>

        <button type="button" class="close" data-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="delete-location" class="card-body"
          action="{{ url_for('delete_location', location_id=location._id) }}">
          <p class="warning-delete">Are you sure you want to delete this
            location?<br>
            This will also remove all recycling collections associated
            with this location!
          <p>
            <!-- Submit -->
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-primary"
              data-dismiss="modal">Cancel</button>
            <button id="submit-delete-location" class="btn btn-outline-primary"
              type="submit" name="submit-delete-location">Delete
              Location!</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% for collection in collections_dict %}
<!-- Delete location modal -->
<div class="modal fade" id="modal-delete-collection-{{ collection._id }}" tabindex="-1" role="dialog"
  aria-labelledby="modal-delete-collection-title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100" id="modal-delete-collection-title">Delete {{ collection.typeOfWaste }}
          Collection</h4>

        <button type="button" class="close" data-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="delete-collection" class="card-body"
          action="{{ url_for('delete_collection', collection_id=collection._id) }}">
          <p class="warning-delete">Are you sure you want to delete this
            collection?
          <p>
            <!-- Submit -->
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-primary"
              data-dismiss="modal">Cancel</button>
            <button id="submit-delete-collection" class="btn btn-outline-primary"
              type="submit" name="submit-delete-collection">Delete
              Collection!</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endfor %}