<div class="heading-buttons">
  
  <div class="dropdown">
    {% if page_id == "categories" %}
        <button class="space-holder">
        </button>
    {% endif %}
    {% if page_id == "collections" %}
		<button class="btn btn-outline-primary col space-below dropdown-toggle"
		      type="button" data-toggle="dropdown"
		      aria-haspopup="true" aria-expanded="false">
		      {{ selectedItem }}
		    </button>
		<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			{% for item in items %}
			<a class="dropdown-item"
				href="{{ url_for('get_recycling_collections', itemID=item._id) }}">{{ item.typeOfWaste }}</a>
			{% endfor %}
		</div>
    {% endif %}
    {% if page_id == "items" %}
		<button class="btn btn-outline-primary col space-below dropdown-toggle"
		      type="button" data-toggle="dropdown"
		      aria-haspopup="true" aria-expanded="false">
		      {{ selectedCategory }}
		    </button>
		<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			<a class="dropdown-item" href="{{ url_for('get_recycling_items', categoryID='view-all') }}">View
				all</a>
			{% for category in categories %}
			<a class="dropdown-item"
				href="{{ url_for('get_recycling_items', categoryID=category._id) }}">{{ category.categoryName }}</a>
			{% endfor %}
		</div>
    {% endif %}
    {% if page_id == "members" %}
        <button class="btn btn-outline-primary col space-below dropdown-toggle"
        type="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        {% if selectedMemberType == "Queen Bee"%}<i class="fas fa-crown"></i>
        {% elif selectedMemberType == "Worker Bee"%}<i
            class="fas fa-hard-hat"></i>
        {% elif selectedMemberType == "Busy Bee" %}<i class="fas fa-user"></i>
        {% endif %}{{ selectedMemberType }}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item"
            href="{{ url_for('get_recycling_members', member_type='view-all') }}">View
            all</a>
        <a class="dropdown-item"
            href="{{ url_for('get_recycling_members', member_type='Queen Bee') }}"><i
            class="fas fa-crown"></i> Queen Bee</a>
        <a class="dropdown-item"
            href="{{ url_for('get_recycling_members', member_type='Worker Bee') }}"><i
            class="fas fa-hard-hat"></i> Worker Bee</a>
        <a class="dropdown-item"
            href="{{ url_for('get_recycling_members', member_type='Busy Bee') }}"><i
            class="fas fa-user"></i> Busy Bee</a>
        </div>
    {% endif %}
  </div>
</div>