<!-- First collection card -->
<div class="card">
  <div class="card-header green-background" id="headingTwo">
    <h5 class="mb-0">
      <button class="btn btn-link collapsed" data-toggle="collapse"
        data-target="#collapseTwo" aria-expanded="false"
        aria-controls="collapseTwo">
        <i class="fas fa-hard-hat"></i> <strong>Become a Worker Bee!</strong>
      </button>
    </h5>
  </div>
  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
    data-parent="#accordion">
    {% if awaiting_approval == True %}
    <div class="card-body">
        <p>Currently awaiting approval for your first collection.</p>
    </div>
    {% else %}
    <div class="card-body">
      <form name="addFirstCollection" class="card-body" method="POST"
        action="{{ url_for('add_first_collection') }}">
        <p>Add the location of where your first collection will take place.</p>
        <div class="form-row">
          <!-- Location nickname -->
          <div class="form-group col-md-6">
            <label class="sr-only" for="addLocationNickname">Location nickname
              (e.g. 'Work')</label>
            <div class="input-group mb-2">
              {% include "components/tooltips/tooltip-nickname.html" %}
              <input type="text" class="form-control" id="addLocationNickname"
                name="addLocationNickname"
                placeholder="Location nickname (e.g. 'Work')" minlength="2"
                required>
            </div>
          </div>
          <!-- Location street -->
          <div class="form-group col-md-6">
            <label class="sr-only" for="addLocationStreet">Location
              address</label>
            <div class="input-group mb-2">
              {% include "components/tooltips/tooltip-address.html" %}
              <input type="text" class="form-control" id="addLocationStreet"
                name="addLocationStreet"
                placeholder="Location address (e.g. '88 Recycling Street')"
                minlength="2" required>
            </div>
          </div>
        </div>
        <div class="form-row">
          <!-- Location town -->
          <div class="form-group col-md-6">
            <label class="sr-only" for="addLocationTown">Location town
              (e.g. 'Newbury')</label>
            <div class="input-group mb-2">
              {% include "components/tooltips/tooltip-town.html" %}
              <input type="text" class="form-control" id="addLocationTown"
                name="addLocationTown"
                placeholder="Location town (e.g. 'Newbury')" minlength="2"
                required>
            </div>
          </div>
          <!-- Location postcode -->
          <div class="form-group col-md-6">
            <label class="sr-only" for="addLocationPostcode">Location
              postcode</label>
            <div class="input-group mb-2">
              {% include "components/tooltips/tooltip-postcode.html" %}
              <input type="text" class="form-control" id="addLocationPostcode"
                name="addLocationPostcode" placeholder="Location postcode"
                minlength="2" required>
            </div>
          </div>
        </div>
        <hr class="green-line">
        <p>Add the details for you first collection.</p>
        <div class="form-row">
            <!-- Item Category -->
            <div class="form-group col-md-6">
              <label class="sr-only" for="input-itemCategory">Item
                Category</label>
              <div class="input-group mb-2">
                {% include "components/tooltips/tooltip-category.html" %}
                <input type="text" class="form-control" id="input-itemCategory"
                  name="input-itemCategory" placeholder="Item Category"
                  disabled>
                <select class="form-control" id="select-itemCategory"
                  name="itemCategory">
                  <option value="" selected disabled>Item Category</option>
                  {% for category in categories %}
                  <option value="{{ category.categoryName }}">
                    {{ category.categoryName }}
                  </option>
                  {% endfor %}
                  <option>Add New Item Category...</option>
                </select>
                <small id="instructions-addItemCategory"
                  class="form-text col-12 warning-delete">
                  Please ensure that you are not duplicating a Category that
                  already appears in the dropdown menu.<br>
                  The Category that you add here will be accessible by other
                  users, so should be fairly general (e.g. 'dental care'
                  <strong>not</strong> 'toothbrush',) and should
                  <strong>not</strong> include any notes that are relevant to
                  your collection (e.g. 'Must be washed' does not belong here!).
                </small>
              </div>
            </div>
            <!-- Type of Waste -->
            <div class="form-group col-md-6">

              <label class="sr-only" for="select-typeOfWaste">Type of
                Waste</label>
              <div class="input-group mb-2">
                {% include "components/tooltips/tooltip-waste.html" %}
                <input type="text" class="form-control" id="input-typeOfWaste"
                  name="input-typeOfWaste" placeholder="Type of Waste"
                  minlength="2">
                <select class="form-control" id="select-typeOfWaste"
                  name="typeOfWaste" required>
                  <option value="" selected disabled>Type of Waste</option>
                  {% for item in items_dict %}
                  <option data-id="{{ item.itemCategory.categoryName }}"
                    value="{{ item.typeOfWaste }}">{{ item.typeOfWaste }}
                  </option>
                  {% endfor %}
                  <option>Add New Type of Waste...</option>
                </select>
                <small id="instructions-addTypeOfWaste"
                  class="form-text col-12 warning-delete">
                  Please ensure that you are not duplicating a Type of Waste
                  that already appears in the dropdown menu.<br>
                  The Type of Waste that you add here will be accessible by
                  other users, so should be specific (e.g. 'toothbrush'
                  <strong>not</strong> 'dental care',) and should
                  <strong>not</strong> include any notes that are relevant to
                  your
                  collection (e.g. 'Must be washed' does not belong here!).
                </small>
              </div>
            </div>
          </div>
          <!-- Condition Notes -->
          <div class="form-group">
            <label class="sr-only" for="conditionNotes">What condition should
              this item be in?</label>
            <div class="input-group mb-2">
              {% include "components/tooltips/tooltip-notes.html" %}
              <textarea class="form-control" id="conditionNotes"
                name="conditionNotes"
                placeholder="What condition should this item be in? (E.g. Washed/As it is)"
                minlength="4" required></textarea>
            </div>
          </div>
          <!-- Charity -->
          <div class="form-group">
            <label class="sr-only" for="charityScheme">Charity
              (optional)</label>
            <div class="input-group mb-2">
              {% include "components/tooltips/tooltip-charity.html" %}
              <input type="text" class="form-control" id="charityScheme"
                name="charityScheme" placeholder="Charity (optional)"
                minlength="2">
            </div>
          </div>
        <!-- Submit -->
        <div class="modal-footer">
          <button id="submit-firstCollection" class="btn btn-outline-primary"
            type="submit" name="submit-firstCollection">Send for approval</button>
        </div>
      </form>
    </div>
    {% endif %}
  </div>
</div>