
      <div class="row justify-content-center">
        <div class="col align-middle"><a
            href="https://jess-bennett.github.io/personal-portfolio/"
            target="_blank"><i class="fas fa-laptop" title="Website"></i></a>
        </div>
        <div class="col align-middle"><a href="https://github.com/jess-bennett/"
            target="_blank"><i class="fab fa-github-alt"
              title="GitHub profile"></i></a></div>
        <div class="col align-middle"><a
            href="https://www.linkedin.com/in/jess-bennett-33750368/"
            target="_blank"><i class="fab fa-linkedin-in"
              title="LinkedIn profile"></i></a></div>
        <div class="col align-middle"><a
            href="{{ url_for('faqs') }}"
            ><i class="fas fa-question"
              title="FAQs"></i></a></div>
      </div>
      <p class="footer-text">&#169; | 2020 | Jess Bennett</p>