
      <div class="row justify-content-center">
        <div class="col align-middle"><a
            href="https://jess-bennett.github.io/personal-portfolio/"
            target="_blank"><i class="fas fa-laptop" title="Website"></i></a>
        </div>
        <div class="col"><a href="https://github.com/jess-bennett/"
            target="_blank"><i class="fab fa-github-square"
              title="GitHub profile"></i></a></div>
        <div class="col"><a
            href="https://www.linkedin.com/in/jess-bennett-33750368/"
            target="_blank"><i class="fab fa-linkedin"
              title="LinkedIn profile"></i></a></div>
      </div>
      <p class="footer--text">&#169; | 2020 | Jess Bennett</p>