<div class="row justify-content-center">
  <div class="col align-middle"><a  data-toggle="tooltip" data-placement="top"
    data-type="info" title="Portfolio Website" href="https://jess-bennett.github.io/personal-portfolio/"
      target="_blank" rel="noreferrer"><i class="fas fa-laptop"></i></a>
  </div>
  <div class="col align-middle"><a data-toggle="tooltip" data-placement="top"
    data-type="info" title="GitHub profile"
      href="https://github.com/jess-bennett/" target="_blank" rel="noreferrer"><i
        class="fab fa-github-alt"></i></a></div>
  <div class="col align-middle"><a data-toggle="tooltip" data-placement="top"
    data-type="info" title="LinkedIn profile"
      href="https://www.linkedin.com/in/jess-bennett-33750368/"
      target="_blank" rel="noreferrer"><i class="fab fa-linkedin-in"></i></a></div>
  <div class="col align-middle"><a data-toggle="tooltip" data-placement="top"
    data-type="info" title="FAQs" href="{{ url_for('faqs') }}"><i
        class="fas fa-question"></i></a></div>
  <div class="col align-middle"><a data-toggle="tooltip" data-placement="top"
    data-type="info" title="Contact" href="{{ url_for('contact') }}"><i
        class="fas fa-at"></i></a></div>
</div>
<p class="footer-text">&#169; | 2020 | Jess Bennett</p>