<ul id="grid" class="clr">
    {% if page_id == "categories" %}
        <li>
        <a href="{{ url_for('get_recycling_items', category_id='view-all') }}">
            <div class="hexagon">
            <p class="hexagon-text"><strong>View all items</strong></p>
            </div>
        </a>
        </li>
        {% for category in categories %}
        <li>
        <a href="{{ url_for('get_recycling_items', category_id=category._id) }}">
            <div class="hexagon">
            <p class="hexagon-text">{{ category.categoryName }}</p>
            </div>
        </a>
        </li>
        {% endfor %}
    {% endif %}
    {% if page_id == "items" %}
		{% for cat_item in cat_items %}
		<li>
			<a href="{{ url_for('get_recycling_collections', item_id=cat_item._id) }}">
				<div class="hexagon hexagon-medium">
					<p class="hexagon-text">{{ cat_item.typeOfWaste }}</p>
				</div>
			</a>
		</li>
		{% endfor %}
    {% endif %}
    {% if page_id == "collections" %}
        <li>
            <a href="{{ url_for('get_recycling_members', member_type='view-all') }}">
                <div class="hexagon hexagon-dark">
                    <p class="hexagon-text"><strong>View all members</strong></p>
                </div>
            </a>
        </li>
        {% for collection in collections_dict if collection.typeOfWaste == selected_item %}
        <li>
            <div class="hexagon hexagon-dark" data-toggle="modal" data-target="#modal-collection-{{ collection._id }}">
                <p class="hexagon-text">{{ collection.hiveMembers }} -
                    {{ collection.town }}</p>
            </div>
        </li>
        
        {% endfor %}
    {% endif %}
    {% if page_id == "members" %}
		{% for member in member_group %}
		<li>
			<div class="hexagon {% if ((member.isQueenBee == False) and (member.isWorkerBee == False)) %}hexagon-dark{% elif ((member.isQueenBee == False) and (member.isWorkerBee == True)) %}hexagon-medium{% endif %}"
				data-toggle="modal" data-target="#modal-collection-{{ member._id }}">
				<p
					class="hexagon-text {% if ((member.isQueenBee == False) and (member.isWorkerBee == False)) %}hexagon-dark{% elif ((member.isQueenBee == False) and (member.isWorkerBee == True)) %}hexagon-medium{% endif %}">
					{% if member.isQueenBee == True %}<i class="fas fa-crown"></i>
					{% elif member.isWorkerBee == True %}<i class="fas fa-hard-hat"></i>
					{% else %}<i class="fas fa-user"></i> {% endif %}{{ member.username }}
				</p>
			</div>
		</li>
		
		{% endfor %}
    {% endif %}
  </ul>