<!-- Delete member request modal -->
{% for member in unapproved_members %}
<div class="modal fade" id="modal-delete-member-request-{{ member._id }}" tabindex="-1" role="dialog"
  aria-labelledby="modal-delete-member-request-title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100" id="modal-delete-member-request-title">Delete
          Request for {{ member.username }}</h4>

        <button type="button" class="close" data-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="delete-request" class="card-body"
          action="{{ url_for('delete_member_request', member_id=member._id) }}">
          <p class="warning-delete">Are you sure you want to delete this
            request?<br>
            This will deny {{ member.username }} access to your Hive. However, they will be free to make a future request to join.
          <p>
            <!-- Submit -->
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-primary"
              data-dismiss="modal">Cancel</button>
            <button id="submit-delete-member-request" class="btn btn-outline-primary"
              type="submit" name="submit-delete-member-request">Delete Member
              Request!</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endfor %}

<!-- Approve member request modal -->
{% for member in unapproved_members %}
<div class="modal fade" id="modal-approve-member-request-{{ member._id }}" tabindex="-1" role="dialog"
  aria-labelledby="modal-approve-member-request-title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100" id="modal-approve-member-request-title">Approve Member
          Request for {{ member.username }}</h4>

        <button type="button" class="close" data-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="approve-member-request" class="card-body"
          action="{{ url_for('approve_member_request', member_id=member._id) }}">
          <p class="warning-delete">Are you sure you want to approve this Member
            Request?<br>
            This will allow {{ member.username }} access to your Hive and the collection locations shown within.
          <p>
            <!-- Submit -->
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-primary"
              data-dismiss="modal">Cancel</button>
            <button id="submit-approve-member-request" class="btn btn-outline-primary"
              type="submit" name="submit-approve-member-request">Approve Member
              Request!</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endfor %}

<!-- Delete collection request modal -->
{% for collection in first_collections %}
<div class="modal fade" id="modal-delete-collection-{{ collection._id }}" tabindex="-1" role="dialog"
  aria-labelledby="modal-delete-collection-title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100" id="modal-delete-collection-title">Delete
          Collection Request for {{ collection.username }}</h4>

        <button type="button" class="close" data-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="delete-request" class="card-body"
          action="{{ url_for('delete_collection_request', collection_id=collection._id) }}">
          <p class="warning-delete">Are you sure you want to delete this Worker Bee
            request?<br>
            This will deny {{ collection.username }} Worker Bee status and they will not be able to submit new collections without approval. However, they will be free to make a future request for approval.
          <p>
            <!-- Submit -->
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-primary"
              data-dismiss="modal">Cancel</button>
            <button id="submit-delete-collection" class="btn btn-outline-primary"
              type="submit" name="submit-delete-collection">Delete Worker Bee
              Request!</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endfor %}