<!-- Collections card -->
<div id="public-collections"  class="card">
  <div class="card-header green-background" id="headingFive">
    <h5 class="mb-0">
      <button class="btn btn-link collapsed" data-toggle="collapse"
        data-target="#collapseFive" aria-expanded="false"
        aria-controls="collapseFive">
        <i class="fas fa-plus"></i> <strong>Add a Public
          Collection</strong>
      </button>
    </h5>
  </div>
  <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
    data-parent="#accordion">
    <div class="card-body">
      <p><em>Please note, this option is to suggest a
          <strong>public</strong> collection for the database. If you would
          like to add a
          <strong>personal</strong> collection,
          please do so <span class="internal-link"data-toggle="collapse"
        data-target="#collapseFour" aria-expanded="false"
        aria-controls="collapseFour">here.</span></em>
      </p>
      <!-- Input form -->
      <!-- Form to add new collection -->
      <form name="addCollection" class="card-body" method="POST"
        action="{{ url_for('add_new_collection') }}">
        <div class="form-row">
            <div class="form-group col-md-6">
                <div class="custom-control custom-radio custom-control-inline">
				<input type="radio" id="local" name="localNational" class="custom-control-input" value="local" checked>
				<label class="custom-control-label" for="local">Local collection (i.e. public dropoff point specific to your Hive)</label>
			</div>
            </div>
            <div class="form-group col-md-6">
                <div class="custom-control custom-radio custom-control-inline">
				<input type="radio" id="national" name="localNational" class="custom-control-input" value="national">
				<label class="custom-control-label" for="national">National collection (i.e. accepts items by post/nationwide dropoff points)</label>
			</div>
            </div>
        </div>
			
			
        <div class="form-row">
          <!-- Item Category -->
          <div class="form-group col-md-6">
            <label class="sr-only" for="input-businessItemCategory">Item
              Category</label>
            <div class="input-group mb-2">
              {% include "components/tooltips/tooltip-category.html" %}
              <input type="text" class="form-control" id="input-businessItemCategory"
                name="input-businessItemCategory" placeholder="Item Category" disabled>
              <select class="form-control" id="select-businessItemCategory"
                name="businessItemCategory">
                <option value="" selected disabled>Item Category</option>
                {% for category in categories %}
                <option value="{{ category.categoryName }}">
                  {{ category.categoryName }}
                </option>
                {% endfor %}
                <option>Add New Item Category...</option>
              </select>
              <small id="instructions-addBusinessItemCategory"
                class="form-text col-12 warning-text">
                Please ensure that you are not duplicating a Category that
                already appears in the dropdown menu.<br>
                The Category that you add here will be accessible by other
                users, so should be fairly general (e.g. 'dental care'
                <strong>not</strong> 'toothbrush',) and should
                <strong>not</strong> include any notes that are relevant to
                your collection (e.g. 'Must be washed' does not belong here!).
              </small>
            </div>
          </div>
          <!-- Type of Waste -->
          <div class="form-group col-md-6">

            <label class="sr-only" for="select-businessTypeOfWaste">Type of
              Waste</label>
            <div class="input-group mb-2">
              {% include "components/tooltips/tooltip-waste.html" %}
              <input type="text" class="form-control" id="input-businessTypeOfWaste"
                name="input-businessTypeOfWaste" placeholder="Type of Waste"
                minlength="2">
              <select class="form-control" id="select-businessTypeOfWaste"
                name="businessTypeOfWaste" required>
                <option value="" selected disabled>Type of Waste</option>
                {% for item in items_dict %}
                <option data-id="{{ item.itemCategory.categoryName }}"
                  value="{{ item.typeOfWaste }}">{{ item.typeOfWaste }}
                </option>
                {% endfor %}
                <option>Add New Type of Waste...</option>
              </select>
              <small id="instructions-addBusinessTypeOfWaste"
                class="form-text col-12 warning-text">
                Please ensure that you are not duplicating a Type of Waste
                that already appears in the dropdown menu.<br>
                The Type of Waste that you add here will be accessible by
                other users, so should be specific (e.g. 'toothbrush'
                <strong>not</strong> 'dental care',) and should
                <strong>not</strong> include any notes that are relevant to
                your
                collection (e.g. 'Must be washed' does not belong here!).
              </small>
            </div>
          </div>
        </div>
        <div class="form-row">
          <!-- Business name -->
          <div class="form-group col-md-6">
            <label class="sr-only" for="businessName">Business/Venue Name</label>
            <div class="input-group mb-2">
              <div class="input-group-prepend" data-toggle="tooltip"
                data-placement="top" data-type="info"
                title="Business/Venue Name">
                <div class="input-group-text"><i class="fas fa-sign"></i>
                </div>
              </div>
              <input type="text" class="form-control" id="businessName"
                name="businessName" placeholder="Business/Venue Name"
                minlength="2">
            </div>
          </div>
          <!-- Street -->
          <div class="form-group col-md-6">
            <label class="sr-only" for="businessStreet">Business/Venue
              Address</label>
            <div class="input-group mb-2">
              {% include "components/tooltips/tooltip-address.html" %}
              <input type="text" class="form-control" id="businessStreet"
                name="businessStreet"
                placeholder="Business/Venue Address (e.g. '8 High Street')"
                minlength="2" required>
            </div>
          </div>
          <small class="form-text col-12">
                For national dropoffs, please put 'N/A' for street, town and postcode values.
              </small>
        </div>
        <div class="form-row">  
          <!-- Town -->
          <div class="form-group col-md-6">
            <label class="sr-only" for="businessTown">Business/Venue Town
              (e.g. 'Newbury')</label>
            <div class="input-group mb-2">
              {% include "components/tooltips/tooltip-town.html" %}
              <input type="text" class="form-control" id="businessTown"
                name="businessTown"
                placeholder="Business/Venue Town (e.g. 'Newbury')" minlength="2"
                required>
            </div>
          </div>
          <!-- Postcode -->
          <div class="form-group col-md-6">
            <label class="sr-only" for="businessPostcode">Business/Venue
              Postcode</label>
            <div class="input-group mb-2">
              {% include "components/tooltips/tooltip-postcode.html" %}
              <input type="text" class="form-control" id="businessPostcode"
                name="businessPostcode"
                placeholder="Business/Venue Postcode"
                minlength="2" required>
            </div>
          </div>
          </div>
        <!-- Condition Notes -->
        <div class="form-group">
          <label class="sr-only" for="businessNotes">What condition should
            this item be in?</label>
          <div class="input-group mb-2">
            {% include "components/tooltips/tooltip-notes.html" %}
            <textarea class="form-control" id="businessNotes"
              name="businessNotes"
              placeholder="What condition should this item be in? (E.g. Washed/As it is)"
              minlength="4" required></textarea>
          </div>
        </div>
        <!-- Charity -->
        <div class="form-group">
          <label class="sr-only" for="businessCharityScheme">Charity
            (optional)</label>
          <div class="input-group mb-2">
            {% include "components/tooltips/tooltip-charity.html" %}
            <input type="text" class="form-control" id="businessCharityScheme"
              name="businessCharityScheme" placeholder="Charity (optional)"
              minlength="2">
          </div>
        </div>
        <!-- Submit -->
        <div class="modal-footer">
          <button id="submit-national-collection" class="btn btn-outline-primary"
            type="submit" name="submit-national-collection">Submit Public Collection</button>
        </div>
      </form>
    </div>
  </div>
</div>