<!DOCTYPE html>
<html lang="en">

<head>
  {% include "layout/head.html" %}
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light honeycomb-green">
      <a class="navbar-brand" href="#">Recycling Hive</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item {% block nav_home %}{% endblock %}">
            <a class="nav-link"
              href="{{ url_for('home', username=session['username']) }}">Home</a>
          </li>
          {% if session.user %}
          <li class="nav-item dropdown {% block nav_hive %}{% endblock %}">
            <a class="nav-link dropdown-toggle" href="#"
              id="navbarDropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Hive
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item menu-item {% block nav_category %}{% endblock %}"
                href="{{ url_for('get_recycling_categories') }}">Hive
                Categories</a>
              <a class="dropdown-item menu-item {% block nav_item %}{% endblock %}"
                href="{{ url_for('get_recycling_items', categoryID='view-all') }}">Hive
                Items</a>
              <a class="dropdown-item menu-item {% block nav_collection %}{% endblock %}"
                href="{{ url_for('get_recycling_collections', itemID='view-all') }}">Hive
                Collections</a>
              <a class="dropdown-item menu-item {% block nav_member %}{% endblock %}"
                href="{{ url_for('get_recycling_members', memberType='view-all') }}">Hive
                Members</a>
            </div>
          </li>
          <li class="nav-item {% block nav_inspiration %}{% endblock %}">
            <a class="nav-link" href="#">Inspiration</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout') }}">Log Out</a>
          </li>
          {% else %}
          <li class="nav-item {% block nav_demo %}{% endblock %}">
            <a class="nav-link" href="#">Demo</a>
          </li>
          <li class="nav-item {% block nav_login %}{% endblock %}">
            <a class="nav-link" href="{{ url_for('login') }}">Login</a>
          </li>
          <li class="nav-item {% block nav_register %}{% endblock %}">
            <a class="nav-link" href="{{ url_for('register') }}">Register</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </header>

  <section>
    <!-- flash messages -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="flashes">
      <h4>{{ message }}</h4>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
  </section>

  <main>
    {% block content %}
    {% endblock %}
  </main>

  <footer class="honeycomb-green">
    TEST
  </footer>
{% include "layout/scripts.html" %}
</body>

</html>